<%-include("includes/head.ejs")%>

<body>
    <div class="home-container">
        <h2 class="home-header">Home Page</h2>
        <h3>Total card(s): <%= count %>
        </h3>
        <form action="/quotes" method="get">
            <button class="btn">Cards</button>
        </form>
    </div>
    
</body>
</html>