<%-include("includes/head.ejs")%>
<body>
    <h1>Add new quote</h1>
    <div class="new-form">
        <form action="/quotes" method="post" enctype="multipart/form-data">
            <input class="file-upload" type="file" id="image" name="image" accept="image/*">
            <br>
            <br>
            <label class="label" for="image">Insert image</label>
            <br>
            <br>
            <label for="name"></label>
            <input id="name" class="text" type="text" name="name" placeholder="enter name">
            <br>
            <br>
            <textarea class="text" name="quote" cols="30" rows="10" placeholder="write your quote"></textarea>
            <br>
            <br>
            <button class="btn">Submit</button>
        </form>
    </div>
    
</body>
</html>